---
import BaseLayout from '../layouts/BaseLayout.astro';
import Playground from '../components/Playground';
---
<BaseLayout title="SQL Playground - GoSQLX">
  <div class="h-[calc(100vh-64px)]">
    <Playground client:only="react" />
  </div>
</BaseLayout>
